<p>
  <mat-toolbar>
    <button (click)="rs.resetRoomState()" aria-label="Menu icon" mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <ng-container *ngIf="(rs.roomState | async)?.roomId !== '-2'">
      <span>You {{(rs.roomState | async)?.isHost ? 'are' : 'are not'}}
        the host in room {{(rs.roomState | async)?.roomId}}</span>
      <span class="flex-fill"></span>
      <button (click)="openAddCardDialog()" mat-mini-fab style="font-size : 30px">+</button>
    </ng-container>

  </mat-toolbar>
</p>
