/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  // thanks polka v2!
  background-color: #e6e8f7;
  opacity: 0.8;
  background-image:  radial-gradient(#f7455d 0.9px, transparent 0.9px), radial-gradient(#f7455d 0.9px, #e6e8f7 0.9px);
  background-size: 36px 36px;
  background-position: 0 0,18px 18px;
}

.floating-card {
  @include mat.elevation-transition();
  @include mat.elevation(3);

  &:hover {
    @include mat.elevation(9);
  }
}
